:root {
  --primary: #274690;
  --darkblue: #1B264F;
  --lightblue: #576CA8;
  --offwhite: #F5F3F5;
  --darkgrey: #302B27;
}

@font-face {
  src: url("RobotRoc.otf");
  font-family: "RobotRoc";
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkblue);
  color: white;
  font-family: 'Oxygen', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('friendship.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  text-shadow: 1px 1px 2px var(--darkblue);
}

#title {
  font-family: "RobotRoc";
  font-size: 70px;
  padding: 20px;
  text-align: center;
}

#descr {
  margin: 40px 0;
  text-align: center;
  font-size: 30px;
}

.listButton {
  background-color: #555555;
  padding: 15px 15px;
  border-radius: 3px;
  background-image: url('hamburgerMenu.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 95%;
  left: 80%;
}

.gridButton {
  background-color: #555555;
  padding: 15px 15px;
  border-radius: 3px;
  background-image: url('gridMenu.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 95%;
  left: 83%;

}

.arrowsButton {
  background-color: #555555;
  padding: 15px 15px;
  border-radius: 3px;
  background-image: url('arrowsMenu.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 95%;
  left: 86%;

}



/* for responsiveness on phones and smaller screens */
@media (min-width: 576px) {

}
